body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Arimo', sans-serif;
}

.smaller {
  width: 150px;
}

.quarterWidth {
  border-top: 1px solid #000;
  width: 25%;
}

.bgBlack {
  background: #000;
  color: #fff;
}

.header {
  padding-left: 10%;
  padding-right: 10%;
}

.portfolioLeft {
  display: flex;
  justify-content: right;
  align-items: center;
}

.portfolioRight {
  display: flex;
  justify-content: left;
  align-items: center;
}

.item1 {
  grid-area: menu;
}

.item2 {
  grid-area: header;
}

.item3 {
  grid-area: left;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas: 'menu menu menu menu menu menu' 'header header header header header header' 'title title title title title title' 'left left left right right right' 'footer footer footer footer footer footer';
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-container>div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px; */
}
